{% extends "pages/base.html" %}

{% block title %}Projects{% endblock %}

{% block extra_head %}Finished: {{ done_count }}, total: {{ project_list|length }}{% endblock %}

{% block content %}
    <div class="flex-column">
        <form action="/projects/" method="GET">
            <label for="q">Search for project</label>
            <input type="text" id="q" name="q" value="{{ q }}">
            <button type="submit">Search</button>
        </form>
        {% if q and project_list.len > 0 %}
            <p>Showing results for "{{ q }}"</p>
        {% endif %}
        <ul>
            {% for project in project_list %}
                <li>
                    {% if project.done %}
                        ✅
                    {% else %}
                        🔄
                    {% endif %}
                    {{ project.name }}
                </li>
            {% empty %}
                <li>No entries found.</li>
            {% endfor %}
        </ul>
    </div>
    
{% endblock %}